/Users/footysuperstar/Desktop/udacity-project/pdsnd_github/chicago.csv/Users/footysuperstar/Desktop/udacity-project/pdsnd_github/new_york_city.csv/Users/footysuperstar/Desktop/udacity-project/pdsnd_github/washington.csv